<div class="row">&nbsp;</div>
            <h2>Recommended Resources For Developers</h2>
            <hr/>
<div class="row">
    <div class="col-lg-12">
        <p>
            So many resources are available to developers. There is only enough time for exploring the most relevant and impactful. Below is a list of some of the most useful I've found.
        </p>
        <div class="row">
          <div class="col-lg-12"><small>Last updated: 20 October 2021</small></div>
      </div>

        <p>&nbsp;</p>
        <div class="media">
          <img src="https://images-na.ssl-images-amazon.com/images/I/515iO%2B-PRUL._SX408_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" class="mr-3" />
          <div class="media-body">
                    <h5 class="mt-0">Code Complete, Second Edition by Steve McConnell</h5>
                    <div>
                        <a class="card-link" href="https://learning.oreilly.com/library/view/code-complete-second/0735619670/">Read on O'Reilly Learning</a>
                        <a class="card-link" href="https://www.amazon.com/Code-Complete-Practical-Handbook-Construction/dp/0735619670">Amazon link</a>
                        <a class="card-link" href="https://twitter.com/stevemconstrux">Steve on Twitter - @stevemconstrux</a>
                        <a class="card-link" href="https://stevemcconnell.com/books/">Other books by Steve</a>
                    </div>
          </div>
        </div>
        <hr />
        <div class="media">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41BKx1AxQWL._SX396_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" class="mr-3" />
          <div class="media-body">
                <h5 class="mt-0">The Pragmatic Programmer by Andrew Hunt and David Thomas</h5>
                <div>
                    <a class="card-link" href="https://learning.oreilly.com/library/view/the-pragmatic-programmer/9780135956977/">Read on O'Reilly Learning</a>
                    <a class="card-link" href="https://www.amazon.com/Pragmatic-Programmer-Journeyman-Master/dp/020161622X">Amazon link</a>
                    <a class="card-link" href="https://twitter.com/PragmaticAndy">Andy Hunt on Twitter - @PragmaticAndy</a>
                    <a class="card-link" href="https://twitter.com/PragDave">Dave Thomas on Twitter - @PragDave</a>
                    <a class="card-link" href="https://pragprog.com/">See the excellent resources at Pragmatic Bookshelf</a>
                </div>
           </div>
        </div>
        <hr />
        <ul>
            <li>
                    <h4>Bridging the Communication Gap by Gojko Adzic</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/0955683610"><img src="https://images.gr-assets.com/books/1348029534l/6443938.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                    <h4>Eric Sink on the Business of Software (Expert's Voice)</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/1590596234"><img src="https://images-na.ssl-images-amazon.com/images/I/518t-Ihh5zL._SX331_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                    <h4>The Cathedral & the Bazaar: Musings on Linux and Open Source by an Accidental Revolutionary by Eric S. Raymond</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/0596001088"><img src="https://images-na.ssl-images-amazon.com/images/I/51nX8ivtfZL._SX328_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                    <h4>The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses by Eric Ries</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/0307887898"><img src="https://images-na.ssl-images-amazon.com/images/I/51T-sMqSMiL._SX329_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                    <h4>Career and Survival Strategies for Software Developers by Dan Appleman</h4>
                    <p>
                        <a href="https://app.pluralsight.com/library/courses/career-survival-strategies-4devs/"><img src="https://www.pluralsight.com/content/dam/pluralsight/newsroom/brand-assets/logos/PS_logo_F-02.png" alt="Pluralsight course logo" width="90" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                    <h4>Crucial Conversations: Tools for Talking When Stakes Are High by Patterson, Grenny, McMillan and Switzler</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/0071401946/"><img src="https://images-na.ssl-images-amazon.com/images/I/515q7mzMOTL._SX332_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                <h4>Time management lecture by Randy Pausch (video and transcript)</h4>
                <p>
                    <a href="https://www.youtube.com/watch?v=oTugjssqOT0">Randy Pausch Lecture: Time Management on YouTube</a>
                </p>
                <p>
                    <a href="https://www.cs.cmu.edu/~pausch/Randy/Randy/TMenglishTranscript.pdf">Transcript of lecture (pdf)</a>
                </p>
                <hr />
            </li>
            <li>
                    <h4>Getting Things Done: The Art of Stress-Free Productivity by David Allen</h4>
                    <p>
                        <a href="https://www.amazon.com/Getting-Things-Done-Stress-Free-Productivity/dp/0143126563/"><img src="https://images-na.ssl-images-amazon.com/images/I/51W-ZL%2BQRlL._SX324_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
                </li>
        </ul>
    </div>
</div>
