<hr />
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
              <p><small>&copy; 2021 The Software Pilgrim</small></p>
              </div>
              <div class="col-md-4">
                  <small>
              <a href="https://stackoverflow.com/users/45817/grahammc">
                  Stack Overflow Profile for GrahamMc
              </a>
              </small>
              </div>
              <div class="col-md-4">
                  <p><small>Follow <a href="https://twitter.com/GrahamMcZa">@GrahamMcZa on Twitter</a></small></p>
                  <p><small><a href="https://www.github.com/grahammcallister"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="Github logo" width="30" height="30"> www.Github.com/grahammcallister</a></small></p>
              </div>
          </div>
      </div>
  </footer>
