<hr />
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <small>Stack Overflow Profile
              <a href="https://stackoverflow.com/users/45817/grahammc">
                  GrahamMc
              </a>
              </small>
              </div>
              <div class="col-md-4">
                  <p><small>Twitter <a href="https://twitter.com/GrahamMcZa">@GrahamMcZa</a></small></p>
              </div>
              <div class="col-md-4">
                <p><small>GitHub <a href="https://www.github.com/grahammcallister">www.github.com/grahammcallister</a></small></p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-4">
            <p><small>&copy; 2022 The Software Pilgrim</small></p>
            </div>
          </div>
      </div>
  </footer>
