<div class="row">&nbsp;</div>
        <div class="row">
            <h2>Currently reading - interesting things on the web</h2>
            <hr/>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <small>Last updated: 30 August 2021</small><br/>&nbsp;<br/>
                <p><small><i style="font-style: italic;">Note: This page might seem somewhat disjointed. It's a scratchpad of interesting ideas, links and notes related to topics I'm investigating or wrestling with.</i></small></p>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-lg-12">

                <h3>Friday deploy freezes - on code freeze</h3>
                <p>&nbsp;<br>
                    <a href="https://charity.wtf/2019/05/01/friday-deploy-freezes-are-exactly-like-murdering-puppies/">Friday deploy freezes are exactly like killing puppies?</a> Some interesting ideas in here.
                </p>

                <p>&nbsp;</p>

                <h3>Porting applications</h3>
                <p>&nbsp;<br>
                    <a href="https://accu.org/journals/overload/9/43/kelly_446/">A study in porting applications</a> Ever tried to port an existing app to a different API or OS?
                </p>

                <p>&nbsp;</p>


                <h3>Evidence based software engineering</h3>
                    <p>&nbsp;<br>
                        <a href="http://www.knosof.co.uk/ESEUR/ESEUR-draft.pdf">Evidence based software engineering book preview</a> - Fascinating look at research of software development.
                    </p>

                    <p>&nbsp;</p>

                <h3>Inner Source Commons</h3>
                <p>&nbsp;<br>
                    <a href="https://innersourcecommons.org/">Inner Source Commons web site</a> - Inner Source details a great vision for bringing open source ways of work to any corporate or large organisation - there are no silver bullets but I'm convinced this would help most companies deliver better software.
                </p>

                <p>&nbsp;</p>

                <h3>How I side project</h3>
                <p>&nbsp;<br>
                    <a href="https://thesephist.com/posts/how-i-side-project/">Blog entry</a> - Just so many interesting ideas and thoughts to unpack here.
                </p>

                <p>&nbsp;</p>

                <h3>Wireless is a trap</h3>
                <p>&nbsp;<br>
                    <a href="https://www.lesswrong.com/posts/8hxvfZiqH24oqyr6y/wireless-is-a-trap">Blog entry</a> - Working from my home office - and before that in a typical open plan office layout - I have seen time and time again how much time wireless solutions can waste. Great for occasional convenience. For serious day after day work? Not so much.
                </p>

                <p>&nbsp;</p>

                <!--  -->
                <h3>Stop taking regular notes</h3>
                <p>&nbsp;<br>
                    <a href="https://eugeneyan.com/2020/04/05/note-taking-zettelkasten/">eugeneyan.com</a> - Discussion of what is wrong with note taking and a suggested note taking method based on &quot;Zettelkasten&quot;
                </p>

                <p>&nbsp;</p>

                <!--  -->
                <h3>Andy's working notes</h3>
                <p>&nbsp;<br>
                    <a href="https://notes.andymatuschak.org/">notes.andymatuschak.org</a> - Great collection of info about knowledge work and clarity of thinking. This is inspiring research.
                </p>

                <!-- https://slack.engineering/rebuilding-slack-on-the-desktop-308d6fe94ae4 -->

                <p>&nbsp;</p>

                <!--  -->
                <h3>Rebuilding Slack on the Desktop</h3>
                <p>&nbsp;<br>
                    <a href="https://slack.engineering/rebuilding-slack-on-the-desktop-308d6fe94ae4">Blog entry</a> - this article addresses some themes I'm sure most software developers can relate to, such as dealing with legacy architectures and modernisation of old code. Really interesting points made.
                </p>

                <p>&nbsp;</p>

                <!--  -->
                <h3>Impact vs backlog frame in software development</h3>
                <p>&nbsp;<br>
                    <a href="https://www.svese.de/impact-vs-backlog-frame-in-software-development">Blog entry</a> The concept of a "backlog frame". Interesting reading and now try examine what frame your own team(s) operate in.
                </p>

                <p>&nbsp;</p>

                <h3>Programmer's critique of Missing Structure of Operating Systems</h3>
                <p>&nbsp;<br>
                    <a href="http://blog.rfox.eu/en/Programmer_s_critique_of_missing_structure_of_oper.html">Blog entry</a> - A neat summary of some of the problems with operating systems that I think most developers would agree on. Food for thought.
                </p>

                <p>&nbsp;</p>

                <h3>Tech Talk Travel - Ben Stephenson, founder & CEO Impala</h3>
                <p>&nbsp;<br>
                    <a href="https://www.youtube.com/watch?v=nxBZuoxCbKM&t=274s">Youtube video</a> - Great insights into the tech side of the travel industry, focus for a possible upcoming blog series.
                </p>

                <p>&nbsp;</p>

                <h3>Lessons in career advancement</h3>
                <p>&nbsp;<br>
                    <a href="https://www.infoq.com/presentations/lessons-career-advance">Career Abroad - How the Best Technologists Are Conquering the World</a>
                </p>


                <p>&nbsp;</p>

                <h3>How to be effective in the theatre of work</h3>
                <p>&nbsp;<br>
                    An article by Tom Critchlow comparing knowledge work to improv theatre, where some startling parallels emerge.
                </p>
                <p>
                    <a href="https://tomcritchlow.com/2019/11/18/yes-and/">Yes! and... (https://tomcritchlow.com/2019/11/18/yes-and/)</a>
                </p>

                <p>&nbsp;</p>

                <h3>What we know we don't know</h3>
                <p>&nbsp;<br>
                    Related to my question what makes a good developer, I enjoyed this talk by Wayne Hillel.
                </p>
                <p>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/WELBnE33dpY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
            </div>
        </div>
