<mat-card class="p-6 rounded-xl space-x-4">
    <mat-card-header>
        <mat-card-title-group>

        <mat-card-title class="text-3xl font-medium">

            The Software Pilgrim
        </mat-card-title>
        <mat-card-subtitle>A collection of resources and writing from my professional journey in software development - Graham Mc Allister</mat-card-subtitle>
        <img src="assets/images/Graham.jpg" alt="Photo of Graham" />
    </mat-card-title-group>
</mat-card-header>

  <mat-card-content>
              <div>
                      
            </div>
  </mat-card-content>
</mat-card>
    
<mat-card class="p-6">
    <mat-card-header>
        <mat-card-title-group>
    <mat-card-title class="text-2xl font-medium">
        <a routerLink="/resources">Book Recommendations and Resources for Developers</a>
        </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        A list of helpful books and resources for developers.
    </mat-card-content>
</mat-card>

<mat-card class="p-6">
    <mat-card-header>
        <mat-card-title-group>
    <mat-card-title  class="text-2xl font-medium">
        <a routerLink="/current">Interesting web links</a>
        </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        Bookmarks of some current topics I find interesting.
    </mat-card-content>
</mat-card>

<mat-card class="p-6">
    <mat-card-header>
        <mat-card-title-group>
    <mat-card-title  class="text-2xl font-medium">
        <a routerLink="/bookmarks">Useful reminders and snippets</a>
        </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        Shortcut keys, bookmarks and handy links for safe keeping.
    </mat-card-content>
</mat-card>
