<div class="jumbotron">
  <div class="container">
      <div class="row">
              <div class="col-md-4 vertical-auto-center text-center mb-4">
                      <img src="assets/images/Graham.jpg" alt="Photo of Graham" height="193" width="143" class="rounded-circle"/>
                  </div>
                  <div class="col-md-8 vertical-auto-center">
                          <h1>The Software Pilgrim</h1>
                          <p class="lead">A collection of resources and writing from my professional journey in software development - Graham Mc Allister</p>
                  </div>
      </div>
  </div>
</div>
<div class="row" >
  <div class="col-md-4">
      <h5><a routerLink="/resources">Book Recommendations and Resources for Developers</a></h5>
      <p>
          A list of useful and interesting books and resources for developers.
      </p>
  </div>
  <div class="col-md-4">
      <h5><a routerLink="/current">Interesting web links</a></h5>
      <p>
          Some bookmarks of currently interesting topics.
      </p>
  </div>
  <div class="col-md-4">
      <h5><a routerLink="/bookmarks">Useful reminders and snippets</a></h5>
      <p>
          Shortcut keys, bookmarks and handy links for safe keeping.
      </p>
  </div>
</div>
